
.di{
    position:relative; 
    top:200px; left:100px;
}
.messi{
    position: relative;
    left: 500px;
    top: -200px;
}
.lebron{
    position: relative;
    top: -150px;
    left: 498px;
}

#image {
    width: 300px;
    height: 200px;
  }
#messiImage{
    width: 300px;
    height: 200px;
}
li.e{
    color: blue;
}
#size{
    position: relative;
    left: 150px;
    width: 450px;
    height: 150px;
    color: blue;
}